<div fxLayout="row" fxLayoutAlign="center center" class="meme-profiles">
  <mat-card *ngFor="let meme of tableOfMemes">
    <div class="photo">
      <img *ngIf="meme.photos[0]" [src]="this.imagePath(meme.photos[0].filename)" alt="meme" height="150" width="250" class="photo-img">
      <div *ngIf="!meme.photos[0]" class="upload-photo">
        Upload a photo
        <!--<input type='file' (change)="onSelectFile($event, cat.id)">-->
      </div>
    </div>
    <div class="meme-name">
      Cat name: {{meme.name}}
    </div>
    <div class="popularity">
      Popularity: {{meme.popularity}}
    </div>
    <div class="added-by">
      Added by: {{meme.user.username}}
    </div>
    <div class="date">
      Date: {{meme.created}}
    </div>
  </mat-card>
</div>


