.cats-profiles {
  display: flex;
  flex-flow: wrap;
  mat-card {;
    width: 250px;
    margin: 2%;
  }

  .photo {
    .photo-img {
      object-fit: cover;
    }
    .upload-photo {
      height: 166px;
    }
  }
}
