<div class="user-profile">
  <mat-card class="user-info">
    <div class="user-info-header">
      User Info
    </div>
    <div>
      <div>Profile name</div>
      <div>E-mail address</div>
      <div>Country</div>
      <div>City</div>
      <div>Cats info</div>
      <div>Lisk cryptocurrency address</div>
    </div>
  </mat-card>
  <mat-card class="user-info">
    <div class="user-info-header">
      User Info
    </div>
    <div>
      <div>Profile name</div>
      <div>E-mail address</div>
      <div>Country</div>
      <div>City</div>
      <div>Cats info</div>
      <div>Lisk cryptocurrency address</div>
    </div>
  </mat-card>
</div>
